/* Reset rules  */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background: #f6f7f8 0% 0% no-repeat padding-box;
}

/* Add some variables */
:root {
	--primary-color: #072635;
	--activestate_bg_1: #01f0d0;
}

a {
	text-decoration: none;
	color: var(--primary-color);
}

li {
	list-style: none;
}

body {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.logo {
	width: 211px;
	height: 48px;
	margin-left: 32px;
}

.centerMenu {
	display: flex;
	justify-content: center;
}

.menu {
	width: 1564px;
	height: 72px;
	border-radius: 70px;
	display: flex;
	margin-top: 18px;
	align-items: center;
	justify-content: space-between;
	background-color: white;
}

.menu-list {
	display: flex;
	width: 622px;
	justify-content: space-between;
}

.menu-item {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 9px;
	font-weight: bold;
}

.userLogin {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 241px;
	height: 44px;
	gap: 8px;
	margin-right: 32px;
}

.userInfo {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 14px;
}

.selectedItems {
	background-color: var(--activestate_bg_1);
	width: 121px;
	height: 41px;
	border-radius: 41px;
}

.settings {
	display: flex;
	align-items: center;
	justify-content: center;
	border-left: 1px solid gray;
	height: 100%;
	padding-left: 15px;
	gap: 12px;
}

.settingsIcon {
	width: 20px;
	height: 18px;
}

.moreIcon {
	width: 4px;
	height: 18px;
}

.userInfoName {
	font-weight: bold;
}

.mainWrapper {
	border: 2px solid red;
	width: 1564px;
	margin-top: 32px;
	height: 1054px;
}

.patientsWrapper {
	padding: 20px;
	width: 367px;
	background-color: white;
	border-radius: 16px;
}

.patientsTitle {
	font-size: 24px;
	font-weight: bold;
}
